version: '3.9'

services:
  backend:
    build:
      context: backend
      target: development
    command: |
      bash -c 'bash -s <<EOF
        python wait_for_database.py
        python manage.py runserver_plus --nopin 0.0.0.0:8000
      EOF'
    volumes:
      - ./backend/:/code
    ports:
      - "8000:8000"

  frontend:
    volumes:
      - ./frontend/:/code
    ports:
      - "3000:3000"
